# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Builds
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
*.env

# System files
.DS_Store
Thumbs.db
